//////// Media For Home Page
@media only screen and (min-width:320px)and (max-width:768px) {
    #top,
    #topNav {
        display: none;
    }
    #navMobile {
        display: block;
        .container {
            width: 100%;
        }
        ul.myList {
            // background: $brown;
            display: none;
            z-index: 10;
            width: 65px;
            .myList-item:hover {
                &:after {
                    content: none;
                }
            }
        }
        .list-inline-mobile {
            width: 100%;
        }
        li:not(:last-child) {
            margin-right: 20px;
        }
        .list-inline-item.img {
            padding-top: 0;
        }
        .list-inline-item.icon {
            padding-top: 10px;
        }
        .border-none {
            border-style: none !important;
        }
    }
    #home {
        .embed-responsive.embed-responsive-4by3 {
            display: block;
        }
        .embed-responsive.embed-responsive-16by9 {
            display: none;
        }
        .homeMob {
            margin-top: 150px !important;
        }
        margin-top: 0 !important;
        height: 620px;
        .books {
            height: 800px !important;
            .col-8.padd {
                padding-left: 25px;
            }
        }
        .container {
            width: 100%;
        }
        ul.myList {
            display: none;
            background: $brown;
            top: 0;
            left: 0;
        }
        .wrapper .about {
            display: none;
        }
        .films.hidden-md {
            display: none;
        }
        .films-mob,
        .books-mob,
        .cource-mob {
            display: block;
        }
        .mb-hidden,
        .cr-hidden {
            display: none;
        }
        .row.career {
            display: none;
        }
        .courceList.vacancy {
            height: 800px;
            .form-control {
                display: block;
                padding: 5px !important;
            }
        }
        .films-mob .films,
        .books-mob .books,
        .cource-mob .courceList {
            display: block;
            padding-top: 0 !important;
            .col-md-3.col-2 {
                padding-left: 0 !important;
            }
            form {
                margin-top: 20px;
                width: 100% !important;
                margin-left: 0 !important;
                .form-group {
                    margin-bottom: 0;
                    .date.mob {
                        margin-right: 0px !important;
                        height: 27px;
                        background: #c9c0c000;
                        border: none !important;
                        padding: 2px 4px;
                        border-radius: 5px;
                        font-size: 16px;
                        font-weight: 500;
                        h6 {
                            display: inline-block;
                            text-transform: uppercase;
                            color: #6f5959;
                        }
                    }
                }
                .form-control {
                    display: block;
                    padding: 5px !important;
                }
                .col-8 .btn-brown {
                    width: 98px !important;
                }
                .col-2.mob {
                    padding-right: 0px !important; // padding-left: 0px !important;
                }
            }
            .infoBox {
                width: 100px;
                height: 200px;
                margin-bottom: 10px;
                border-radius: 5px;
                padding-top: 10px;
                .h6 {
                    font-size: 9px;
                    font-weight: 700;
                    color: #493c39;
                }
                .lightBox {
                    padding-top: 10px;
                    width: 100%;
                    height: 100px;
                    background: lightgray;
                    span {
                        padding-top: 0 !important;
                        position: absolute;
                        right: 10px;
                        top: -8px;
                        font-size: 11px;
                    }
                }
                h6.p {
                    display: none;
                }
            }
            .mob-icon {
                h6 {
                    font-size: 13px;
                    text-align: center;
                }
                .fa-star {
                    font-size: 9px;
                }
            }
            .checked {
                margin-top: 0px;
                margin-right: 2px;
                font-size: 13px;
                color: yellow;
            }
            h6 {
                display: inline-block;
                text-transform: uppercase;
                color: #d8d7d7;
                font-size: 14px;
                font-weight: 400;
                a {
                    text-decoration: none;
                    color: #d8d7d7;
                }
            }
            .myList {
                padding: 0;
                display: inline-block; // padding: 0 70px;
                .myList-item {
                    text-align: center;
                    height: 50px;
                    position: relative;
                    border-style: none;
                    list-style-type: none;
                    transition: all ease 0.3s;
                    @media only screen and (max-width: 749px) {
                        display: inline-block;
                        margin-left: 50px;
                        width: 60px;
                    }
                    &:hover {
                        background: rgb(219, 85, 36);
                        color: white;
                        transition: all ease 0.3s;
                        &:after {
                            content: "";
                            position: absolute;
                            transition: all ease 1s;
                            z-index: 5;
                            top: 25%;
                            right: -12px;
                            border-top: 12px solid transparent;
                            border-bottom: 12px solid transparent;
                            border-left: 12px solid rgb(219, 85, 36);
                            @media only screen and (max-width: 749px) {
                                border-left: 12px solid transparent;
                                border-right: 12px solid transparent;
                                border-top: 12px solid rgb(219, 85, 36);
                                top: 98%;
                                right: 17px;
                            }
                        }
                    }
                    .myList-icon {
                        padding-top: 4px;
                        margin: 0 auto;
                        width: 35px;
                        height: 40px;
                        img {
                            width: 100%;
                            height: 80%;
                        }
                    }
                    a {
                        font-size: 12px;
                        padding: 0 10px;
                        text-decoration: none;
                        color: $brown;
                    }
                    a:active {
                        background: rgb(219, 85, 36);
                    }
                }
            }
        }
        ul.list-inline.mob {
            display: block;
        }
    }
    #text {
        display: block;
        position: absolute;
        top: 13%;
        left: 25%;
        background: transparent;
        color: #d8d0ce;
        .container {
            width: 100%;
            h4 {
                font-size: 20px;
            }
            span {
                font-weight: 400;
            }
        }
    }
    #footer {
        display: none;
    }
    .signIn {
        position: fixed;
        z-index: 11 !important;
        width: 350px !important;
        padding: 0 15px !important;
        background: #db5524 !important;
        top: 11% !important;
        right: 3% !important;
        bottom: 30% !important;
    }
    .register {
        height: 562px !important;
        position: fixed !important;
        z-index: 11 !important;
        width: 350px !important;
        padding: 0 20px !important;
        background: #db5524 !important;
        top: 11% !important;
        right: 3% !important;
        bottom: 30% !important;
    }
}

@media only screen and(max-width: 320px) {
    #navMobile {
        display: block;
        .container {
            width: 100%;
        }
        ul.myList {
            // background: $brown;
            display: none;
            z-index: 10;
            width: 65px;
            .myList-item:hover {
                &:after {
                    content: none;
                }
            }
        }
        .list-inline-mobile {
            width: 100%;
        }
        li:not(:last-child) {
            margin-right: 13px;
        }
        .list-inline-item.img {
            padding-top: 0;
        }
        .list-inline-item.icon {
            padding-top: 10px;
        }
        .border-none {
            border-style: none !important;
        }
    }
}

@media only screen and (min-width: 1367px) and (max-width:1920px) {
    #home {
        height: 800px;
        ul.myList .myList-item {
            padding: 13px 10px 0 10px;
            height: 14.6% !important;
            a {
                padding: 0 15px;
                .myList-icon {
                    margin: 0 auto;
                    width: 49px;
                    height: 60px;
                }
                h6 {
                    text-align: center;
                }
            }
        }
        ul.myList.fullWidth {
            padding: 13px 10px 0 10px;
            height: 18.6% !important;
            a {
                padding: 0 15px;
                .myList-icon {
                    margin: 0 auto;
                    width: 49px;
                    height: 60px;
                }
                h6 {
                    text-align: center;
                }
            }
        }
        .courceList {
            height: 745px !important;
        }
        .homeMob {
            .about {
                height: 700px !important;
            }
        }
    }
    #errorPage {
        height: 900px;
    }
}