$brown: #493c39;
$grey: #665652;
$light: #e8e8e8;
$orange: #d46536; 
$spacegray: #d8d7d7;
@import 'main';
@import 'films';
@import 'short';
@import 'category';
@import 'common';
@import 'slider';
@import 'media';